[colors]
background = #222
background-alt = #444
;foreground = ${xrdb:color7:#222}
foreground = #dfdfdf
foreground-alt = #555
primary = #FFF
secondary = #e36414
alert = #9a03qe

;------------;
; TOPBAR    ;
;------------;

[bar/PolybarTop]
line-size = 3
line-color = #f00

border-size = 4
border-color = #00000000

;------------;
; DIMENSIONS ;
;------------;

width = 100%
height = 40
offset-y = 0
offset-x = 0

border-top-size = 10
border-bottom-size = 0
border-right-size = 10
border-left-size = 10

;----------;
; LOCATION ;
;----------;

bottom = false

;-------;
; FONTS ;
;-------;

font-0 = Source Code Pro:style=Regular:size=12:antialias=true;3"
font-1 = "FontAwesome:style=Solid:pixelsize=8;3"
font-2 = "FontAwesome:style=Regular:pixelsize=8;3"
font-3 = "FontAwesome:pixelsize=8;3"
font-4 = "Source Code Pro:size=11;3"

;--------;
; COLORS ;
;--------;

background = #CC000000
background-alt = #555
foreground = #dfdfdf
foreground-alt = #555
primary = #E1D4AE
secondary = #e60053
alert = #B2535B

;---------------;
; MISCELLANEOUS ;
;---------------;

radius = 10.0
fixed-center = true
padding-left = 0
padding-right = 2

module-margin-left = 1
module-margin-right = 2

modules-left = i3
modules-center = xwindow
modules-right = wired-lan wireless-lan eth battery date

tray-position = right
tray-padding =2 
tray-transparent = false
;tray-background = #000000

;wm-restack = bspwm
;wm-restack = i3

override-redirect = false
 
;scroll-up = bspwm-desknext
;scroll-down = bspwm-deskprev

;scroll-up = i3wm-wsnext
;scroll-down = i3wm-wsprev

cursor-click = pointer
cursor-scroll = ns-resize

;------------;
; BOTBAR    ;
;------------;

[bar/PolybarBot]
line-size = 3
line-color = #f00

border-size = 4
border-color = #00000000

;------------;
; DIMENSIONS ;
;------------;

width = 100%
height = 40
offset-y = 0
offset-x = 0

border-top-size = 0
border-bottom-size = 10
border-right-size = 10
border-left-size = 10

;----------;
; LOCATION ;
;----------;

bottom = true

;-------;
; FONTS ;
;-------;

font-0 = Source Code Pro:style=Regular:size=12:antialias=true;3
font-1 = "FontAwesome:style=Solid:pixelsize=8;3"
font-2 = "FontAwesome:style=Regular:pixelsize=8;3"
font-3 = "FontAwesome:pixelsize=8;3"
font-4 = "Source Code Pro:size=11;3"

;--------;
; COLORS ;
;--------;

background = #DD000000
background-alt = #555
foreground = #dfdfdf
foreground-alt = #555
primary = #E1D4AE
secondary = #e60053
alert = #B2535B

;---------------;
; MISCELLANEOUS ;
;---------------;

radius = 10.0
fixed-center = true
padding-left = 0
padding-right = 2

module-margin-left = 1
module-margin-right = 2

modules-left = powermenu pulseaudio backlight-acpi
modules-right = filesystem memory cpu temperature xkeyboard

;---------;
; MODULES ;
;---------;

[module/xwindow]
type = internal/xwindow
format-foreground = ${colors.primary}
label = %title%
label-maxlen = 80

[module/xkeyboard]
type = internal/xkeyboard
format-prefix = 
label-layout = 
label-indicator-padding = 2
label-indicator-margin = 1
label-indicator-background = ${colors.secondary}
label-indicator-underline = ${colors.secondary}

[module/filesystem]
type = internal/fs
interval = 25

mount-0 = /home

label-mounted =  HD %mountpoint% %percentage_used%% of %total%
label-mounted-foreground = ${colors.primary}
label-unmounted = %mountpoint% not mounted
label-unmounted-foreground = ${colors.primary}

[module/i3]
type = internal/i3
format = <label-state> <label-mode>
index-sort = false
wrapping-scroll = false

ws-icon-0 = 1;
ws-icon-1 = 2;
ws-icon-2 = 3;
ws-icon-3 = 4;
ws-icon-4 = 5;
ws-icon-5 = 6;;
ws-icon-6 = 7;;
ws-icon-7 = 8;;
ws-icon-8 = 9;;
ws-icon-default = 

; Only show workspaces on the same output as the bar
;pin-workspaces = true

label-mode-padding = 2
label-mode-foreground = #000000
label-mode-background = ${colors.primary}

; focused = Active workspace on focused monitor
label-focused = %name%
label-focused-background = 
label-focused-foreground = ${colors.secondary}
label-focused-underline = ${colors.secondary}
label-focused-padding = 2

; unfocused = Inactive workspace on any monitor
label-unfocused = %name%
label-unfocused-padding = 2
label-unfocused-foreground = ${colors.primary}
label-unfocused-underline = 

; visible = Active workspace on unfocused monitor
label-visible = %name%
label-visible-background = ${self.label-focused-background}
label-visible-underline = ${self.label-focused-underline}
label-visible-padding = ${self.label-focused-padding}

; urgent = Workspace with urgency hint set
label-urgent = %name%
label-urgent-background = ${colors.alert}
label-urgent-padding = 2

; Separator in between workspaces
; label-separator = |

[module/xbacklight]
type = internal/xbacklight

format = <label> <bar>
label =  %percentage%%
label-foreground = ${colors.primary}

bar-width = 10
bar-indicator = |
bar-indicator-foreground = ${colors.primary}
bar-indicator-font = 
bar-fill = ─
bar-fill-font = 4
bar-fill-foreground = #9f78e1
bar-empty = ─
bar-empty-font = 4
bar-empty-foreground = ${colors.foreground-alt}

[module/backlight-acpi]
inherit = module/xbacklight
type = internal/backlight
card = intel_backlight

[module/cpu]
type = internal/cpu
interval = 2
format-prefix = " CPU "
format-prefix-foreground = ${colors.primary}
format-underline = 
label = %percentage:2%%
label-foreground = ${colors.primary}

[module/memory]
type = internal/memory
interval = 2
format-prefix = " RAM "
format-prefix-foreground = ${colors.primary}
format-underline = 
label = %percentage_used%%
label-foreground = ${colors.primary}

[module/wireless-lan]
type = internal/network
interface = wlp4s0
interval = 3.0

format-connected-underline = #55aa55
format-connected-prefix = " "
format-connected-prefix-foreground = ${colors.foreground-alt}
label-connected = %local_ip%
format-disconnected =

[module/wired-lan]
type = internal/network
interface = enp0s31f6
interval = 3.0

format-connected-underline = #55aa55
format-connected-prefix = " "
format-connected-prefix-foreground = ${colors.foreground-alt}
label-connected = %local_ip%
format-disconnected =

[module/date]
type = internal/date
interval = 5

date =
date-alt = " %Y-%m-%d"

time = %H:%M
time-alt = %H:%M:%S

format-prefix =  
format-prefix-foreground = ${colors.primary}
format-underline = 
format-foreground = ${colors.primary}

label = %date% %time%

[module/pulseaudio]
type = internal/pulseaudio

format-volume =   <label-volume> <bar-volume>
format-volume-foreground = ${colors.primary}
label-volume = %percentage%%
label-volume-foreground = ${colors.primary}

label-muted =   0%
label-muted-foreground = ${colors.secondary}

bar-volume-width = 10
bar-volume-foreground-0 = #55aa55
bar-volume-foreground-1 = #55aa55
bar-volume-foreground-2 = #55aa55
bar-volume-foreground-3 = #55aa55
bar-volume-foreground-4 = #55aa55
bar-volume-foreground-5 = #f5a70a
bar-volume-foreground-6 = #B2535B
bar-volume-gradient = false
bar-volume-indicator = |
bar-volume-indicator-font = 4
bar-volume-fill = ─
bar-volume-fill-font = 4
bar-volume-empty = ─
bar-volume-empty-font = 4
bar-volume-empty-foreground = ${colors.foreground-alt}

[module/alsa]
type = internal/alsa

format-volume = <label-volume> <bar-volume>
label-volume = VOL
label-volume-foreground = ${root.foreground}

format-muted-prefix = " "
format-muted-foreground = ${colors.foreground-alt}
label-muted = sound muted

bar-volume-width = 10
bar-volume-foreground-0 = #55aa55
bar-volume-foreground-1 = #55aa55
bar-volume-foreground-2 = #55aa55
bar-volume-foreground-3 = #55aa55
bar-volume-foreground-4 = #55aa55
bar-volume-foreground-5 = #f5a70a
bar-volume-foreground-6 = #ff5555
bar-volume-gradient = false
bar-volume-indicator = |
bar-volume-indicator-font = 2
bar-volume-fill = ─
bar-volume-fill-font = 2
bar-volume-empty = ─
bar-volume-empty-font = 2
bar-volume-empty-foreground = ${colors.foreground-alt}

[module/battery]
type = internal/battery
battery = BAT1
adapter = ADP1
full-at = 98

format-charging = <animation-charging> <label-charging>
format-charging-underline = 

format-discharging = <animation-discharging> <label-discharging>
format-discharging-underline = ${self.format-charging-underline}

format-full-prefix = "  "
format-full-prefix-foreground = ${colors.primary}
format-full-underline = ${self.format-charging-underline}
format-full-foreground = ${colors.primary}

ramp-capacity-0 = 
ramp-capacity-1 = 
ramp-capacity-2 = 
ramp-capacity-foreground = ${colors.foreground-alt}

animation-charging-0 = 
animation-charging-1 = 
animation-charging-2 = 
animation-charging-foreground = ${colors.foreground-alt}
animation-charging-framerate = 750

animation-discharging-0 = 
animation-discharging-1 = 
animation-discharging-2 = 
animation-discharging-foreground = ${colors.foreground-alt}
animation-discharging-framerate = 750

[module/temperature]
type = internal/temperature
thermal-zone = 0
warn-temperature = 60

format = <ramp> <label>
format-foreground = ${colors.primary}
format-underline = 
format-warn = <ramp> <label-warn>
format-warn-underline = 

label =  TEMPERATURE %temperature-c%
label-warn =  TEMPERATURE %temperature-c%
label-warn-foreground = ${colors.secondary}
label-foreground = ${colors.primary}

ramp-0 = 
ramp-1 = 
ramp-2 = 
ramp-foreground = ${colors.primary}

[module/powermenu]
type = custom/menu
expand-right = true
format-spacing = 1

label-open = "  "
label-open-foreground = ${colors.primary}
label-close = "  Cancel "
label-close-foreground = ${colors.secondary}
label-separator = |
label-separator-foreground = ${colors.primary}

menu-0-0 = reboot
menu-0-0-exec = menu-open-1
menu-0-1 = power off
menu-0-1-exec = menu-open-2

menu-1-0 = cancel
menu-1-0-exec = menu-open-0
menu-1-1 = reboot
menu-1-1-exec = sudo reboot

menu-2-0 = power off
menu-2-0-exec = sudo poweroff
menu-2-1 = cancel
menu-2-1-exec = menu-open-0

[settings]
screenchange-reload = true
;compositing-background = xor
;compositing-background = screen
;compositing-foreground = source
;compositing-border = over

[global/wm]
margin-top = 5
margin-bottom = 5

; vim:ft=dosini
