[
    {
        "name": "top",
        "height": 30,
        "spacing": 10,
        "modules-left": [
            "sway/workspaces",
            "sway/mode"
        ],
        "modules-center": [
            "sway/window"
        ],
        "modules-right": [
            "idle_inhibitor",
            "clock#helsinki",
            "clock#berlin",
            "pulseaudio",
            "network",
            "custom/load",
            "cpu",
            "memory",
            "temperature",
            "battery",
            "clock",
            "tray"
        ],
        "sway/mode": {
            "format": "<span style=\"italic\">{}</span>"
        },
        "idle_inhibitor": {
            "format": "{icon}",
            "format-icons": {
                "activated": "",
                "deactivated": ""
            }
        },
        "tray": {
            "spacing": 10
        },
        "clock": {
            "tooltip-format": "<big>{:%Y %B}</big>\n<tt><small>{calendar}</small></tt>",
            "format": "{:%A %d %B %R}",
            "format-alt": "{:%X %x}"
        },
        "clock#helsinki": {
            "timezone": "Europe/Helsinki",
            "tooltip-format": "<big>{:%Y %B}</big>\n<tt><small>{calendar}</small></tt>",
            "format": "Helsinki: {:%R}",
            "format-alt": "{:%R}"
        },
        "clock#berlin": {
            "timezone": "Europe/Berlin",
            "tooltip-format": "<big>{:%Y %B}</big>\n<tt><small>{calendar}</small></tt>",
            "format": "Berlin: {:%R}",
            "format-alt": "{:%R}"
        },
        "cpu": {
            "format": "{usage}% ",
            "tooltip": false
        },
        "memory": {
            "format": "{}% "
        },
        "temperature": {
            "critical-threshold": 80,
            "format": "{temperatureC}°C {icon}",
            "format-icons": [
                "",
                "",
                ""
            ]
        },
        "battery": {
            "states": {
                "warning": 30,
                "critical": 15
            },
            "format": "{capacity}% {icon}",
            "format-charging": "{capacity}% ",
            "format-plugged": "{capacity}% ",
            "format-alt": "{time} {icon}",
            "format-icons": [
                "",
                "",
                "",
                "",
                ""
            ]
        },
        "network": {
            "format-wifi": "{essid} ({signalStrength}%) ",
            "format-ethernet": "{ipaddr}/{cidr} ",
            "tooltip-format": "{ifname} via {gwaddr} ",
            "format-linked": "{ifname} (No IP) ",
            "format-disconnected": "Disconnected ⚠",
            "format-alt": "{ifname}: {ipaddr}/{cidr}"
        },
        "pulseaudio": {
            "format": "{volume}% {icon} {format_source}",
            "format-bluetooth": "{volume}% {icon} {format_source}",
            "format-bluetooth-muted": " {icon} {format_source}",
            "format-muted": " {format_source}",
            "format-source": "{volume}% ",
            "format-source-muted": "",
            "format-icons": {
                "headphone": "",
                "hands-free": "",
                "headset": "",
                "phone": "",
                "portable": "",
                "car": "",
                "default": [
                    "",
                    "",
                    ""
                ]
            },
            "on-click": "pavucontrol"
        },
        "custom/load": {
            "exec": "uptime | awk -F '[,:]' -v OFS='\n' '{ print $(NF-2) }' | xargs",
            "interval": 1,
            "format": "{} ⚖"
        }
    },
    {
        "name": "bottom",
        "position": "bottom",
        "height": 45,
        "spacing": 10,
        "modules-center": [
            "wlr/taskbar"
        ],
        "modules-right": [
            "custom/spotify"
        ],
        "wlr/taskbar": {
            "on-click": "activate",
            "on-click-middle": "close",
            "icon-size": 32
        },
        "custom/spotify": {
            "format": "{icon} {}",
            "escape": true,
            "return-type": "json",
            "max-length": 40,
            "on-click": "playerctl -p spotify play-pause",
            "on-click-right": "killall spotify",
            "exec": "$HOME/.config/waybar/mediaplayer.py 2> /dev/null",
            "exec-if": "pgrep spotify"
        }
    }
]
